/* 
******* :: INDEX OF RESPONSIVE CSS :: *******
:: 1.0 COMMON CSS
:: 2.0 HEADER AREA CSS
:: 3.0 WELCOME AREA CSS
****************************** */

/* ******************************
:: 1.0 COMMON CSS
****************************** */
@media (min-width: 1200px){
    .container {
        max-width: 1190px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ptb_180 {
        padding: 130px 0;
    }

    .ptb_150 {
        padding: 100px 0;
    }

    .ptb_100 {
        padding: 70px 0;
    }
}

@media (max-width: 991px) {
    .res-margin {
        margin-bottom: 45px;
    }
}

@media (max-width: 767px) {

    .inner-wrapper h1,
    .inner-wrapper h2 {
        font-size: 30px;
    }

    .ptb_180 {
        padding: 130px 0;
    }

    .ptb_150,
    .ptb_100 {
        padding: 50px 0;
    }

    .res-margin {
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {

    .inner-wrapper h1,
    .inner-wrapper h2 {
        font-size: 24px;
    }

    .avatar-lg {
        height: 4rem;
        width: 4rem;
    }

    .container-fluid {
        padding: 0 3%;
    }

    .ptb_180 {
        padding: 80px 0;
    }
}

/*SECTION HEADING*/
@media (max-width: 991px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 36px;
    }

    .section-heading {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.8em;
    }

    h2 {
        font-size: 30px;
        line-height: 1.4;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 2em;
        line-height: 1.4;
    }

    h2 {
        font-size: 24px;
        line-height: 1.4;
    }

    h3 {
        font-size: 18px;
        line-height: 1.4;
    }

    p {
        line-height: 26px;
    }

    .headings > h2,
    .section-heading > h2 {
        line-height: 1.5;
    }
}


/* ******************************
:: 2.0 HEADER AREA CSS
****************************** */
@media (min-width: 992px) {
    .navbar .navbar-nav .nav-link {
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }

    .navbar-sticky-on .navbar-nav .nav-link {
        padding-top: 1.625rem;
        padding-bottom: 1.625rem;
    }
}

@media (max-width: 991px) {
    .main:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background: #fff;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s;
        transition: .3s;
    }

    [data-theme=dark] .main:before {
        background: #01081f;
    }

    .canvas-open {
        overflow: hidden;
    }

    .canvas-open .main:before {
        width: 100%;
        opacity: .95;
        visibility: visible;
    }

    .navbar {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }

    .navbar.active {
        display: block;
    }

    .navbar.active .navbar-inner {
        right: 0;
    }

    .navbar .navbar-inner {
        right: -100%;
        -webkit-transition: right 0.3s 0.2s;
        transition: right 0.3s 0.2s;
    }

    .navbar .nav-link {
        border-bottom: 1px solid #eee;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    [data-theme=dark] .navbar .nav-link {
        border-bottom: 1px solid #1E2745;
    }

    .navbar.navbar-dark .nav-link {
        color: #54565a;
    }

    [data-theme=dark] .navbar.navbar-dark .nav-link {
        color: #f6f8f9;
    }

    .navbar.navbar-dark .nav-link:hover,
    .navbar.navbar-dark .nav-link:focus,
    .navbar.navbar-dark .nav-link.active,
    .navbar.navbar-dark .nav-link.current-menu-item {
        color: #2c2e30;
    }

    [data-theme=dark] .navbar.navbar-dark .nav-link {
        color: #e7eaee;
    }

    [data-theme=dark] .navbar.navbar-dark .nav-link:hover {
        background: #01081f;
    }

    .navbar-inner {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 20rem;
        padding-top: 2.5rem;
        background-color: #fff;
        -webkit-box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
        border-radius: 0;
        overflow-y: auto;
        z-index: 1050;
    }

    [data-theme=dark] .navbar-inner {
        background: #151c32;
    }

    .navbar-inner .dropdown-menu:before {
        content: none;
    }

    .navbar-inner .dropdown-menu {
        border: medium none;
        background: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        float: none;
        margin: 0;
        padding-top: 0;
        position: static;
    }

    [data-theme=dark] .navbar-inner .dropdown-menu .dropdown-item {
        color: #f6f8f9;
    }

    [data-theme=dark] .navbar-inner .dropdown-menu .dropdown-item:hover {
        background: #01081f;
    }

    .nav-open .main-wrapper {
        -webkit-transform: translate3d(-150px, 0, 0);
        transform: translate3d(-150px, 0, 0);
    }

    /*MOBILE NAVBAR TOGGLER*/
    .navbar-toggler {
        position: absolute !important;
        top: auto;
        right: 0;
        bottom: auto;
        left: auto;
        border: none;
        height: 100%;
        width: 3.75rem;
        background-image: none;
        border-radius: 0;
        z-index: 1;
        display: inline-block;
    }

    .navbar-inner .navbar-toggler {
        position: absolute;
        height: 2.5rem;
        top: 0;
    }

    .navbar-toggler-icon {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background-image: none !important;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon:before,
    .navbar-toggler-icon:after {
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .navbar-toggler-icon {
        height: 3px;
        width: 50%;
        background: #7e8085;
        display: inline-block;
    }

    .navbar-dark .navbar-toggler-icon {
        background: #fff;
    }

    .navbar-sticky-on .navbar-toggler-icon{
        background: #7e8085;
    }

    .navbar-dark .navbar-toggler-icon.active:before,
    .navbar-dark .navbar-toggler-icon.active:after {
        background: #7e8085;
    }

    .navbar-toggler-icon:before,
    .navbar-toggler-icon:after {
        content: "";
        background: #7e8085;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .navbar-dark .navbar-toggler-icon:before,
    .navbar-dark .navbar-toggler-icon:after {
        background: #fff;
    }

    .navbar-sticky-on .navbar-toggler-icon:before,
    .navbar-sticky-on .navbar-toggler-icon:after {
        background: #7e8085;
    }

    .navbar-toggler-icon::before {
        top: -0.625rem;
    }

    .navbar-toggler-icon::after {
        top: 0.625rem;
    }

    .navbar-toggler-icon.active {
        background-color: transparent;
        -webkit-transform: scale(0.85) rotate(270deg);
        transform: scale(0.85) rotate(270deg);
    }

    .navbar-toggler-icon.active:before {
        top: 0;
        -webkit-transform: scale(0.65) rotate(45deg);
        transform: scale(0.65) rotate(45deg);
    }

    .navbar-toggler-icon.active:after {
        top: 0;
        -webkit-transform: scale(0.65) rotate(-45deg);
        transform: scale(0.65) rotate(-45deg);
    }
}

@media (max-width: 767px) {
    .homepage-1 .navbar-dark .navbar-toggler-icon {
        background: #7e8085;
    }
    .homepage-1 .navbar-dark .navbar-toggler-icon:before,
    .homepage-1 .navbar-dark .navbar-toggler-icon:after {
        background: #7e8085;
    }
    .homepage-1 .navbar-dark .navbar-toggler-icon.active {
        background-color: transparent;
    }
}

/* ******************************
:: 3.0 WELCOME AREA TO Start CSS
****************************** */
@media(max-width: 1440px){
}


@media(max-width: 991px){
    .treat-head h2:before {
        right: 18%;;
        width: 10%;
    }
    .treat-head h2::after {
        left: 18%;
        width: 10%;
    }
    .pg-box{
        margin-bottom: 30px;
    }
    .contact-vaidyam .text p{
        margin-bottom: 30px;
    }
    .contact-form{
        margin-left: 58px;
    }
}

@media(max-width: 767px){
    .pp-left {
        display: none;
    }
    .welcome-form{
        margin-right: 0px;
    }
    .treatment-box{
        flex-direction: column;
        padding: 40px 20px 80px;
    }
    .treatment-box .text p{
        font-size: 20px;
        line-height: 34px;
    }
}

@media(max-width:575px){
    footer{
        padding-bottom: 0;
    }
    .copyright {
        border-top: 1px solid #e7e2da;
        padding: 15px 0;
    }
    footer .logo a img{
        max-width: 200px;
    }
    .navbar-dark .navbar-brand img{
        max-width: 120px;
    }
    .form-title h4{
        font-size: 30px;
    }
    .form-title p{
        font-size: 17px;
        margin-bottom: 22px;
    }
    .form-group input, .form-group select{
        height: 50px;
        padding-left: 15px;
    }
    .form-group input[type="submit"]{
        height: 50px;
        font-size: 16px;
    }
    .welcome-area{
        height: 600px;
        background-position: 30%;
    }
    .welcome-form{
        margin-top: 415px;
        padding: 30px 20px;
    }
    #letter5 select, #letter5 input{
        height: 50px;
    }
    .treatment-center{
        margin-top: 380px;
    }
    .treatment-box .logo img{
        max-width: 262px;
    }
    .treatment-box .text{
        padding-left: 0;
    }
    .treatment-box .text h1{
        font-size: 25px;
    }
    .treat-head h2::after{
        display: none;
    }
    .treat-head h2::before{
        top: 115%;
        right: 0;
        width: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .treat-box2{
        min-height: 260px;
        padding-bottom: 40px;
    }
    .treatment-service{
        padding-bottom: 50px;
    }
    .enq-side a{
        display: block !important;
    }
    .package-head h1{
        font-size: 36px;
    }
    .package-head h3{
        font-size: 17px;
    }
    .pg-box h2{
        font-size: 26px;
    }
    .about-head h1{
        font-size: 38px;
    }
    .about-head p{
        font-size: 18px;
    }
    .about-bg{
        display: none;
    }
    .amenities-area{
        padding: 90px 0 80px;
    }
    .amn-head{
        font-size: 38px;
        margin-bottom: 30px;
    }
    .text-amn h2{
        font-size: 18px;
        padding: 12px 22px;
    }
    .text-amn {
        position: absolute;
        bottom: 15px;
        left: 0;
    }
    .amenities-slider .owl-nav button{
        width: 40px;
        height: 40px;
    }
    .amenities-slider .owl-nav{
        top: 25px;
    }
    .amenities-slider .owl-nav button span{
        font-size: 30px;
    }
    .testi-head {
        margin-bottom: 50px;
    }
    .testi-box{
        flex-direction: column;
    }
    .contact-area{
        padding: 55px 0;
    }
    .contact-vaidyam .logo img {
        max-width: 230px;
    }
    .contact-form {
        margin-left: 0;
    }
    .footer-logo {
        padding-bottom: 22px;
    }
    .pg-box p{
        margin-bottom: 50px;
    }
    .pg-box p:last-child{
        margin-bottom: 0;
    }
    .text-testi img{
        max-width: 30px;
    }
    .contact-vaidyam .text p {
        margin-bottom: 50px;
    }
    .social-btns li a{
        font-size: 20px;
    }
    .social-btns li {
        margin-right: 20px;
    }
    .copyright-area p{
        font-size: 14px;
    }
    .callnow_inte,
    .whatsapp_inte{
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .treatment-box .text .btn-style a{
        font-size: 15px;
        padding: 18px 12px;
    }
    #letter5 input[type="submit"]{
        font-size: 14px;
    }
    .about-head .about-btn a{
        padding: 18px 20px;
    }
    .treatment-center{
        padding-bottom: 50px;
    }
    .video-block .center-btn{
        width: 50px;
        height: 50px;
        line-height: 50px;
        /* top: 35%; */
    }
    .video-block{
        margin-bottom: 40px;
    }
    .client-videos{
        padding-bottom: 10px;
    }
    .client-head h2 {
        font-family: 'Lexend', sans-serif;
        color: #343434;
        font-weight: 600;
        font-size: 30px;
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 30px;
        line-height: 1.2;
    }
    .welcome-form{
        max-width: inherit;
        float: inherit;
    }
    .video-block .img-hover{
        right: 10px;
        left: 10px;
    }
}

@media(max-width: 360px){
    #letter6 .tab-content, #letter5 .tab-content {
        padding: 0 28px;
    }
    .welcome-form{
        float: none;
    }
    .copyright-area p {
        font-size: 12px;
        line-height: 22px;
    }
}